<% include ../partials/header %>

<% include ../partials/alerts %>

<div class="header-space"></div>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
    <table id="browseliststable" class="display compact" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Members</th>
          <th>Subscribers</th>
        </tr>
      </thead>

      <tbody>
        <% lists.forEach(function(list, idx, listsArr) { %>
          <tr>
            <td>
              <% if(luser) { %>
                <a href="/list/show/<%=list.twitter_list_id%>"><%=list.name%></a>
              <% } else { %>
                <a href="https://twitter.com<%=list.uri%>"><%=list.name%></a>
              <% } %>
            </td>
            <td>
              <%=list.description%>
            </td>
            <td>
              <%=list.member_count%>
            </td>
            <td>
              <%=list.subscriber_count%>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>

<!-- Local JS -->
<script src="/js/browse.js"></script>

<% include ../partials/footer %>
