<% include ../partials/header %>

<% include ../partials/alerts %>

<div class="header-space"></div>
<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1">
    <!-- placeholder for button to call modal add list form -->
  </div>
</div>
<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1">
    <!-- bootstrap classes = table table-striped table-hover table-condensed -->
    <table id="listgrideditor" class="display compact" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th class="blank"></th>
          <% lists.lists.forEach(function(list, idx, array) { %>
            <th><%=list.name%></th>
          <% }) %>

        </tr>
      </thead>

      <tbody>
        <% friends.users.forEach(function(friend, idx, array) { %>
          <tr>
            <td class="following"><img src="<%=friend.profile_image_url%>" class="img-responsive sl" alt="Image"><span class="sl"><%=friend.screen_name%></span></td>
            <% for(var i = 0; i < lists.lists.length; i++) { %>
              <% var member = false; %>
              <% for(var j = 0; j < listmembers[i].members.users.length; j++) { %>
                <% if(listmembers[i].members.users[j].id_str === friend.id_str) { %>
                  <td>
                    <form action="/list/member/remove" method="POST" class="form-horizontal member" role="form">
                      <div class="form-group">
                        <input type="hidden" name="list_id" id="list_id" value="<%=lists.lists[i].id%>">
                        <input type="hidden" name="user_id" id="user_id" value="<%=friend.id%>">
                      </div>
                      <div class="form-group text-center">
                        <button class="glyph" type="submit"><span class="glyphicon glyphicon-ok green"></span></button>
                      </div>
                    </form>
                  </td>
                  <% member = true; %>
                  <% break; %>
                <% } %>
              <% } %>
              <% if(!member) { %>
                <td>
                  <form action="/list/member/add" method="POST" class="form-horizontal member" role="form">
                    <div class="form-group">
                      <input type="hidden" name="list_id" id="list_id" value="<%=lists.lists[i].id%>">
                      <input type="hidden" name="user_id" id="user_id" value="<%=friend.id%>">
                    </div>
                    <div class="form-group text-center">
                      <button class="glyph" type="submit"><span class="glyphicon glyphicon-ok"></span></button>
                    </div>
                  </form>
                </td>
              <% } %>
            <% } %>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>

<!-- Local JS -->
<script src="/js/listeditor.js"></script>



<% include ../partials/footer %>
