<% include ../partials/header %>

<% include ../partials/alerts %>

<div class="header-space"></div>

<div class="row">
  <div class="col-xs-6 col-sm-4 col-sm-offset-2">
    <h2><%=list.name%></h2>
    <p><%=list.description%></p>
    <a href="https://twitter.com/<%=list.uri%>">View list on Twitter</a>
    <table id="listshow" class="table">
      <tr>
        <td>Members</td>
        <td><%=list.member_count%></td>
      </tr>

      <tr>
        <td>Subscribers</td>
        <td><%=list.subscriber_count%></td>
      </tr>

      <tr>
        <td>Privacy</td>
        <td><%=list.mode%></td>
      </tr>
      <!-- Check if the logged in user is the list owner before showing action buttons -->
      <% if(luser._json.id_str === list.user.id_str) { %>
        <!-- For the share button, make sure the list hasn't already been shared -->
        <!-- ### TODO: Add check here ### -->
        <tr>
          <td>
            <% if(shared) { %>
                <form id="fmShareList" action="/list/share" method="POST" class="form-horizontal fmShareList" role="form" style="display:none;">
                  <div class="form-group">
                    <input type="hidden" name="twitter_list_id" id="inputList_id" class="form-control" value="<%=list.id%>">
                    <input type="hidden" name="slug" id="slug" class="form-control" value="<%=list.slug%>">
                    <input type="hidden" name="name" id="name" class="form-control" value="<%=list.name%>">
                    <input type="hidden" name="uri" id="uri" class="form-control" value="<%=list.uri%>">
                    <input type="hidden" name="mode" id="mode" class="form-control" value="<%=list.mode%>">
                    <input type="hidden" name="description" id="description" class="form-control" value="<%=list.description%>">
                    <input type="hidden" name="member_count" id="member_count" class="form-control" value="<%=list.member_count%>">
                    <input type="hidden" name="subscriber_count" id="subscriber_count" class="form-control" value="<%=list.subscriber_count%>">
                    <input type="hidden" name="twitter_user_id" id="twitter_user_id" class="form-control" value="<%=list.user.id%>">
                  </div>

                  <div class="form-group">
                      <button type="submit" class="btn btn-success btn-sm">Share List</button>
                  </div>
              </form>

              <form id="fmUnShareList" action="/list/share" method="DELETE" class="form-horizontal fmShareList" role="form">
                <div class="form-group">
                  <input type="hidden" name="twitter_list_id" id="inputList_id" class="form-control" value="<%=list.id%>">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-warning btn-sm">Un-Share List</button>
                </div>
              </form>

            <% } else { %>
              <form id="fmShareList" action="/list/share" method="POST" class="form-horizontal fmShareList" role="form">
                  <div class="form-group">
                    <input type="hidden" name="twitter_list_id" id="inputList_id" class="form-control" value="<%=list.id%>">
                    <input type="hidden" name="slug" id="slug" class="form-control" value="<%=list.slug%>">
                    <input type="hidden" name="name" id="name" class="form-control" value="<%=list.name%>">
                    <input type="hidden" name="uri" id="uri" class="form-control" value="<%=list.uri%>">
                    <input type="hidden" name="mode" id="mode" class="form-control" value="<%=list.mode%>">
                    <input type="hidden" name="description" id="description" class="form-control" value="<%=list.description%>">
                    <input type="hidden" name="member_count" id="member_count" class="form-control" value="<%=list.member_count%>">
                    <input type="hidden" name="subscriber_count" id="subscriber_count" class="form-control" value="<%=list.subscriber_count%>">
                    <input type="hidden" name="twitter_user_id" id="twitter_user_id" class="form-control" value="<%=list.user.id%>">
                  </div>

                  <div class="form-group">
                      <button type="submit" class="btn btn-success btn-sm">Share List</button>
                  </div>
              </form>

              <form id="fmUnShareList" action="/list/share" method="DELETE" class="form-horizontal fmShareList" role="form" style="display:none;">
                <div class="form-group">
                  <input type="hidden" name="twitter_list_id" id="inputList_id" class="form-control" value="<%=list.id%>">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-warning btn-sm">Un-Share List</button>
                </div>
              </form>
            <% } %>

          </td>
          <td>
            <% if(shared) { %>
              <span id="unShareDesc">
                If you don't want to specifically share your list on Listerlyify, un-share it here. Please note that this will NOT change the privacy setting of your list on Twitter.
              </span>
              <span id="ShareDesc" style="display:none;">
                Think you've cultivated an awesome list that other people should be following? Share it here so that other people can find it and subscribe.
              </span>
            <% } else { %>
              <span id="unShareDesc" style="display:none;">
                If you don't want to specifically share your list on Listerlyify, un-share it here. Please note that this will NOT change the privacy setting of your list on Twitter.
              </span>
              <span id="ShareDesc">
                Think you've cultivated an awesome list that other people should be following? Share it here so that other people can find it and subscribe.
              </span>
            <% } %>
          </td>
        </tr>
        <tr>
          <td>

            <form action="/list/destroy" method="POST" class="form-horizontal" role="form">
                <div class="form-group">
                  <input type="hidden" name="list_id" id="inputList_id" class="form-control" value="<%=list.id%>">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-danger btn-sm">Delete List</button>
                </div>
            </form>

          </td>
          <td>

          Deleting the list will remove it from your actual Twitter lists. This action cannot be undone.

          </td>
        </tr>
      <% } %> <!-- End if logged in user is the list owner -->

    </table>

    <table id="listmembers" class="table table-condensed">
      <thead>
        <tr>
          <th colspan="3">Members</th>
        </tr>
      </thead>
      <tbody>
      <% members.users.forEach(function(member, idx, memberArr) { %>
        <tr>
          <td class="text-center"><img src="<%=member.profile_image_url_https%>" class="img-responsive" alt="Image"></td>
          <td class="text-center"><a href="https://twitter.com/<%=member.screen_name%>"><%=member.screen_name%></a></td>
          <td class="text-center"><%=member.name%></td>
        </tr>
      <% }) %>
      </tbody>
    </table>

  </div> <!-- End r1c1 -->
  <div class="col-xs-6 col-sm-4">
    Comments placeholder
  </div> <!-- End r1c2 -->
</div> <!-- End row 1 -->

<!-- Local JS -->
<script src="/js/show.js"></script>

<% include ../partials/footer %>
